@page {
  size: A3 portrait;
  margin: 0;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

:root {
  --page-margin: 2rem;
}

header,
footer {
  background-color: darkslateblue !important;
  color: white !important;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}
header {
  padding-top: var(--page-margin);
  padding-bottom: 1em;
}
footer {
  padding-top: 1em;
  padding-bottom: var(--page-margin);
}

header h2 {
  margin: 0;
}

header p,
footer p {
  margin: 0;
}

.footer-right {
  text-align: right;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 297mm;
  height: 420mm;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: var(--page-margin);
  margin-right: var(--page-margin);
  overflow: hidden;
}

.icon {
  vertical-align: -0.125em;
}

.content > * {
  max-width: 40%;
}

figure {
  text-align: center;
}

figure > img {
  max-width: 100%;
}

#dataTable,
#dataTable th,
#dataTable td {
  border: 1px solid currentColor;
  border-collapse: collapse;
}

#title {
  margin-left: var(--page-margin);
  margin-right: var(--page-margin);
  margin-bottom: 0;
}

.multi-column {
  columns: 3;
  column-gap: 1em;
}
